body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: red;
}
#myCarousel img {
     height: 300px; margin-top: 35px;
    
    }
     .carousel-inner p {
          margin-top: 15px;
           color : rgb(0, 255, 170);
            font-size: 20px;
         }


